body {
  background-color: grey;
}
form{
  margin: 30px;
}
p{
  color: white;
  font-size: 20px;
  text-decoration: underline;
}
label{
  color: white;
  margin-bottom: -2px;
}
#button{
  background-color: lightgreen;
  border-radius: 12px;
  margin-top: 2px;
  display: flex;

}
